**IMPORTING LIBRARIES**

In [ ]:
import numpy as np
import pandas  as pd
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# DATA PROCESSING

In [ ]:
heart_info=pd.read_csv('./heart.csv')

In [ ]:
heart_info.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
heart_info.shape

(303, 14)

In [ ]:
# getting information about data
heart_info.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
# checking null values
heart_info.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
heart_info["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

In [ ]:
# NOW  TRAINN AND TEST THE DATA

In [ ]:
x=heart_info.drop("target",axis=1)
y=heart_info["target"]

In [ ]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=20, stratify=y, random_state=2)

#stratify is used when want even distribution of 0 and 1 i.e. target values if we don't use this our model may give all 0 values.
# random_state is used to produce different results in different runs.

MODEL TRAINING

In [ ]:
# USING LOGISTIC REGRESSION BECAUSE WE WANT ANSWER IN YES/NO
lr=LogisticRegression()

In [ ]:
lr.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

MODEL EVALUATION

In [ ]:
x_train_prediction=lr.predict(x_train)

In [ ]:
#accuracy
data_accuracy=accuracy_score(x_train_prediction,y_train)

In [ ]:
print("ACCURACY OF MODEL : ",data_accuracy)

ACCURACY OF MODEL :  0.8480565371024735

In [ ]:
x_test_prediction=lr.predict(x_test)
x_test_accuracy=accuracy_score(x_test_prediction,y_test)

In [ ]:
print("ACCURACY OF TESTING DATA : ",x_test_accuracy)

ACCURACY OF TESTING DATA :  0.8

In [ ]:
# if the difference between testing and train data is large than model is overfitted

BUILDING A PREDICTED MODEL NOW

In [ ]:
input = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# change the input data to a numpy array
input_as_array= np.asarray(input)

# reshape the numpy array as we are predicting for only on instance
input_reshaped = input_as_array.reshape(1,-1)

prediction = lr.predict(input_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease